<footer class="site-footer" role="contentinfo">
    <hr/>

    <div class="split-content" style="margin: 0px;">
        <table width="100%">
            <tr>
                <td width="70px" style="text-align: left;"><img src="/assets/images/AiDALab_Logo_black_64x64.png" alt="AiDALab" width="64" height="64" loading="lazy"></td>
                <td style="text-align: left;"><p><b>SkyLectures</b> is an educational project by AiDALab.</p></td>
                <td style="text-align: right;"><small class="copyright">© 2020-{{ 'now' | date: "%Y" }} <strong>AiDALab</strong>. All rights reserved.</small></td>
            </tr>
        </table>
    </div>


    <!-- Google AdSense Code -->
    <!-- 자동 광고(Auto Ads)만 사용하거나 푸터 하단 광고 배너가 필요없다면 div 블록 전체를 삭제하고 사용해도 무방함 -->
    <!-- 실제 광고 코드를 Google AdSense에서 가져와서 사용할 것 -->
    <div class="footer-adsense">
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-8147763686669057"
            data-ad-slot="1234567890"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

</footer>
