<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="naver-site-verification" content="32928975dcfc1fff139c80a07c66d57be746cda6" />
    <meta name="google-site-verification" content="6eiVR30vRtghNmZG4hB7y5k9_z7h8RW37lOL-c9HPqc" />
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8147763686669057" crossorigin="anonymous"></script>

    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>