<div>
    <div class="sidebar-about"> 
        <a class="no-hover" href="/" tabindex="-1"><img src="/assets/images/SkyLectureLogo.png" class="avatar" alt="Sky Lectures" width="200" height="144" loading="lazy"></a>
        <!--<a class="sidebar-title" href="/"><h2>Sky Lectures</h2></a>-->
    </div>
    <nav> 
        <ul>
            <li><a href="/about/" class="sidebar-nav-item" style="margin-bottom: 2.5rem;">Instructor Profile</a></li>
        </ul>
    </nav>
    <nav> 
        <ul>
            <li><a href="/lectlog/" class="sidebar-nav-item">Lecture History</a></li>
            <li><a href="/curriculums/" class="sidebar-nav-item">Curriculums</a></li>
            <li><a href="/materials/" class="sidebar-nav-item" style="margin-bottom: 2.5rem;">Learning Materials</a></li>
        </ul>
    </nav>
    <nav> 
        <ul>
            <li><a href="https://aidalab.tistory.com" class="sidebar-nav-item" target="_blank"> AiDALab Blog </a></li>
        </ul>
    </nav>
</div>