// 페이지 전체 컨테이너. 개별 페이지 레이아웃 확장용
.page-content {

}

.page-header {
    margin-top: 0;
    margin-bottom: 2.5rem;
    padding-bottom: 0;
    border-bottom:1px solid #ccc;
}

.page-title { 
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
}

.page-description {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #666;
}

.page-body {

}

