.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.insert-image {
  img {
    width: 900px;
    height: auto;
  }
  caption-side: bottom;
  font-size: 0.85rem;
  text-align: center;
  line-height: 15px;
  margin-top: 1em;
  margin-bottom: 4em;
}

blockquote {
  margin: 1em 0;
  padding: 0.7em;
  border-left: 5px solid #007700;
  background-color: #fff7cd;
  font-style: normal;
  color: #007700;
}

blockquote.expert-quote {
  padding: 0.7em;
  border: 1px solid #f8cb78;
  border-left: 5px solid #f8cb78;
  border-right: 5px solid #f8cb78;
  border-radius: 10px;
  background-color: #fffcee;
  font-style: normal;
  color: #000;
}

.info-table {
  table{
    width: 97% !important;
    margin-left: auto;
    margin-right: 0;
    caption-side: bottom;
    text-align: right;
  }  

  caption {
    font-size: 0.65rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    text-align: right;
    color: #555;
    border: 0px;
  }

  th {
    border: 1px solid #999 !important;
    background-color: #c1c7e7;
    padding: 0.5rem;
    font-size: 0.85rem;
    font-weight: bold;
    color: #000;
    text-align: center;
  }

  td {
    border: 1px solid #999 !important;
    background-color: #fff !important;
    text-align: center;
  }

  .td-rowheader {
    background-color: #fed !important;
    font-weight: bold;
    text-align: center;
  }

  .td-left {
    text-align: left;
  }

  .td-right {
    text-align: right;
  }

  margin: 0rem;
  padding: 0rem;
  font-size: 0.75rem;
  text-align: right;    
}

.contents-source {
  font-size: 0.75rem;
  text-align: right;
  line-height: 15px;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  color: #555;
}

/* _sass/my-style.scss 또는 적절한 SCSS 파일 */

.nav-group-separator {
  /* 'I' 기호로 구분하려면 */
  /*
  display: inline-block;
  margin: 0 10px;
  color: #a0a0a0;
  font-weight: normal;
  vertical-align: middle;
  /*

  /* 만약 'I' 기호 대신 실선으로 하고 싶다면 */
  width: 80%;
  height: 1.2em; // 텍스트 높이에 맞게 조절
  color: #f0b98d;
}